# Created by .ignore support plugin (hsz.mobi)
/*/.idea/
/*/*/.idea/
/*/node_modules/
/*/*/node_modules/
/*/*/*/node_modules/
/*/*/*/*/node_modules/
/*/*/*/*/*/node_modules/
.idea/
/router/.idea/
/*/.git/
/*/*/.git/
/*/*/*/.git/
/*/*/*/*/.git/